<mat-card class="card">

  <div class="action">
    <div>
      <mat-icon>perm_contact_calendar</mat-icon>
    </div>
    <div>
      <button class="icon-delete" mat-icon-button (click)="onDelete()">
        <mat-icon>delete_forever</mat-icon>
      </button>
      <button class="icon-edit" mat-icon-button (click)="openDialog()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>
  <hr>
  <mat-card-title>
    <p>
      Name: <span>{{password.name}}</span>
    </p>
    <ng-container *ngIf="visible">
      <p (click)="onClick()">
        Password: <span>{{password.password}}</span>
      </p>
    </ng-container>
    <ng-container *ngIf="!visible">
      <p (click)="onClick()">
        Password: <span class="visible">{{newStr}}</span>
      </p>
    </ng-container>
    <p>
      Purpose: <span>{{password.purpose}}</span>
    </p>
  </mat-card-title>
</mat-card>
